{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Cadastro{% endblock 'title' %}
{% block 'head' %}

{% endblock 'head' %}

{% block 'body' %}

<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col-md-12">
            <div class="body-form">
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <div class="alert {{message.tags}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
                <h2>Login</h2>

                <hr>
                <form method='POST' action=' {% url 'cadastro' %} ' class="justify-content-md-center"> {% csrf_token %}
                    <p><input type="text" class="form-control w-100" name="email" placeholder= "E-mail" required></p>
                    <p><input type="text" class="form-control w-100" name="senha" placeholder="Senha" required></p>
                  <div class="col-12 justify-content-md-center">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                  </div>
                </form>
            </div>

        </div>

    </div>
</div>

{% endblock 'body' %}